<% if !@category %> <h2 class="title"><%= t('sales_management_title')%></h2>
<div class="inner">
	<p>
		<%= t("sales_management_description")%>
	</p>
</div>
<% else %>
<%= render 'sales_managements/shared/index' %>
<% end %>
