<% @images.each do |image| %>
<div style="position: relative; float: left;margin-left: 5px">
	<%= image_tag(image.thumb_image, :title => "#{image.avatar_file_name}") %>
	<div style="position: absolute; top: 0px; left:95%;">
		<%= link_to(t('x'), delete_image_posts_managements_path(:id => image.id, :t => @timestamp), :class => "delete_x", :remote => true, method: :delete, data: { confirm: t('confirm_delete') }) %> 
	</div>
</div>
<% end %>