<%= render :partial => 'estates/shared/head' %>
<h2 class="title"><%= t("new_estate") %></h2>
<div class="inner">
<%= render 'form' %>

<%= link_to t('Back'), sales_managements_path(:category => @category) %>
</div>