<% @attachments.each do |attachment| %>
<div style="position: relative; float: left;margin-left: 5px">
	<%= image_tag("common/Icon-Document03-Blue.png", :size => "50x50", :title => "#{attachment.avatar_file_name}") %>
	<div style="position: absolute; top: 0px; left:95%;">
		<%= link_to(t('x'), delete_attachment_management_path(attachment.id, @timestamp, attachment.attached_id, attachment.attached_type), :class => "delete_x", :remote => true, :method => :delete, :data => { :confirm => t('confirm_delete') }) %> 
	</div>
</div>
<% end %>
