<!-- <div class="secondary-navigation">
	<ul class="wat-cf">
		<% Style.pages.each do |key,page| %>
		<li class="" id="<%= page %>" >
			<%= link_to(t(page), banners_path(:page_id => Style.pageid(key))) %>
		</li>
		<% end %>
	</ul>
</div> -->
<% if @page_name %>
<%= _script_document_ready(%Q|$('\##{@page_name}').addClass("active");|)%>
<% end %>