/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.thumbnail {
	margin-left: 10px;
}

#thumbnail_box {
	position:relative; top: 0px; left: 0px; width:100%;
}

.delete_x {
	font-size: 16px;
	font-style: bold;
	font-family: "NanumGothicExtraBold";
}

.delete_x:hover {
    background-color: #8FDA71;
}

div.shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

span.management_menu {
  position: absolute;
  background-color: #642c78;
  border: 1px solid #666;
  visibility: hidden;
  color: black;
  text-decoration: none;
  z-index: 1;
  width: 400px;
}

li.menu {
	margin: auto;
	width: 100px;
}

li.item {
	font-size: 16px;
	font-style: bold;
	color: #fff;
	margin: auto;
	width: 100px;
}

#navigation_management:hover span.management_menu {
  visibility: visible;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.delete_x {
  font-size: 16px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.9);
}

a.delete_x:link, a.delete_x:visited { color: #fff; text-decoration: none }
a.delete_x:hover, a.delete_x:active { color: #fff; text-decoration: none }