@font-face {
    font: {
       family: 'NanumBrush';
       weight: 'normal';
       style: 'normal';
    }
    src: local('NanumBrush');
    src: url('fonts/NanumBrush.eot', font);
    src: url('fonts/NanumBrush.eot', font) format('embedded-opentype'),
          url('fonts/NanumBrush.ttf', font) format('truetype'),
          url('fonts/NanumBrush.otf', font) format('opentype')
}

@font-face {
    font: {
       family: 'NanumGothicBold';
       weight: 'normal';
       style: 'normal';
    }
    src: local('NanumGothicBold');
    src: url('fonts/NanumGothicBold.eot', font);
    src: url('fonts/NanumGothicBold.eot', font) format('embedded-opentype'),
          url('fonts/NanumGothicBold.ttf', font) format('truetype'),
          url('fonts.NanumGothicBold.otf', font) format('opentype')
}

@font-face {
    font: {
       family: 'NanumGothicExtraBold';
       weight: 'normal';
       style: 'normal';
    }
    src: local('NanumGothicExtraBold');
    src: url('fonts/NanumGothicExtraBold.eot', font);
    src: url('fonts/NanumGothicExtraBold.eot', font) format('embedded-opentype'),
          url('fonts/NanumGothicExtraBold.ttf', font) format('truetype'),
          url('fonts/NanumGothicExtraBold.otf', font) format('opentype')
}