<div class="page-header">
	<h2><%= t("weather_information") %> </h2>
</div>
	
<%= link_to(t(:collect_information), collect_weathers_path, :class => "btn btn-primary")%>
<%= render 'au_index' %>
<%= render 'kr_index' %>
